# if model_dbs
  <h3>
    Init via command line
  </h3>

<pre><code class="bash">#  If you are starting from scratch
git clone https://github.com/gae-init/gae-init{{'-babel' if project_db.include_babel}}.git {{project_db.variable_name}}

&#35; Go to the root of your project
cd {{project_db.variable_name}}

&#35; Execute at your own risk to update your project
./magic.py -p {{project_db.key.id()}}{% if not project_db.public%}/{{project_db.access}}{% endif %} {% if config.DEVELOPMENT%} -r http://{{request.host}} {% endif %}

&#35; Install dependencies when starting from scratch
yarn

&#35; Start the project locally
gulp

&#35; Visit http://localhost:8080 to verify!
</code></pre>

  <h3>
    More free stuff
  </h3>

<pre><code class="bash">&#35; Add the core gae-init project as upstream
git remote add upstream https://github.com/gae-init/gae-init.git

&#35; Pull from Bootswatch branch (<a href="https://bootswatch.com/">link</a>)
git pull upstream bootswatch

&#35; Pull from Markdown branch
git pull upstream markdown

&#35; Pull from Selectize branch (<a href="http://brianreavis.github.io/selectize.js/">link</a>)
git pull upstream selectize

&#35; Pull from Underscore.js branch (<a href="https://github.com/jashkenas/underscore">link</a>)
git pull upstream underscore

&#35; Pull from NProgress branch (<a href="https://github.com/lipis/nprogress/">link</a>)
git pull upstream nprogress
</code></pre>
# endif
