# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <div class="pull-right text-nowrap">
      # if project_db.key
        <form class="pull-left" action="{{url_for('project_delete', project_id=project_db.key.id())}}" method="POST">
          <button class="btn btn-sm btn-danger" id="btn-delete">Delete</button>
        </form>
      # endif
    </div>
    <h1>
      # if project_db.key
        {{utils.back_link('Back', 'model_list', project_id=project_db.key.id())}}
      # else
        {{utils.back_link('Back', 'project_list')}}
      # endif
      {{title}}
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form method="POST" action="." novalidate>
        {{form.csrf_token}}
        {{forms.text_field(form.name, autofocus=True)}}
        {{forms.textarea_field(form.description)}}
        {{forms.text_field(form.url)}}
        {{forms.checkbox_field(form.public)}}
        {{forms.checkbox_field(form.include_babel)}}

        <button type="submit" class="btn btn-primary btn-block btn-loading" {{forms.data_loading_text()}}>
          # if project_db.key
            Update
          # else
            Create
          # endif
        </button>
      </form>
    </div>
  </div>
# endblock
