# extends 'base.html'

# block header
  <div class="jumbotron text-center">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>
        The missing <em>magic</em> piece for
        <a href="https://gae-init.appspot.com">gae-init</a>!
      </p>
      <p class="text-danger">
        Use it at your own risk :)<br>
        <small class="text-muted">(you've been warned)</small>
      </p>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    # for project_db in project_dbs
      # set user_db = project_db.user_key.get()
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="project-info">
          <a href="{{url_for('project_view', project_id=project_db.key.id())}}" class="title">
            <h4 class="list-group-item-heading">
              {{project_db.name}}
            </h4>
          </a>
          <p class="author">
            <img class="avatar" src="{{user_db.avatar_url_size(64)}}">
            {{user_db.name}}
          </p>
          <p class="small">
            <span class="label label-warning" title="Models"><span class="fa fa-fw fa-database"></span> {{project_db.model_count}}</span>
            <span class="label label-success">
              <time datetime="{{project_db.created}}">
                {{project_db.created.strftime('%Y-%m-%d')}}
              </time>
            </span>
          </p>
        </div>
      </div>
    # endfor
  </div>
# endblock
